---
// index.astro
import Header from "../components/Header.astro";
---

<Header title="Home - Mijn Portfolio" />
<main>
	<h1>Welkom op mijn portfolio website!</h1>
	<p>hopelijk lukt het nu wel</p>
</main>
