---

---

<footer>
  <div class="footer-info">
    <div class="contact">
      <p class="footer-text"><strong>Contact</strong></p>

      <p class="footer-text">
        <img src="./images/mail.svg" alt="Mail icoon" width="28" height="18" />
        lenie.debruyne@icloud.com
      </p>

      <p class="footer-text">
        <img src="./images/Phone.svg" alt="phone icoon" width="27" height="27" />
        +32 047 606 838
      </p>
    </div>
    <div class="connect">
      <p class="footer-text"><strong>Connect</strong></p>

      <p class="footer-text">
        <img
          src="./images/LinkedIn.svg"
          alt="LinkedIn icoon"
          width="28"
          height="25.2"
        />
        Lenie Debruyne
      </p>

      <p class="footer-text">
        <img src="./images/Behance.svg" alt="Behance icoon" width="28" height="25.2" />
        Lenie Debruyne
      </p>
    </div>
  </div>
  <p class="footer-banner">LET'S WORK TOGETHER</p>
</footer>
