---
---

<footer>
    <div>
        <p>&copy; 2025 Mijn Portfolio. Alle rechten voorbehouden.</p>
    </div>
    <div>
        <ul>
            <li><a href="/privacy">Privacybeleid</a></li>
            <li><a href="/terms">Gebruiksvoorwaarden</a></li>
            <li><a href="mailto:contact@jouwdomein.com">Contacteer ons</a></li>
        </ul>
    </div>
    <div>
        <p>Volg mij op:</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/jouwlink">LinkedIn</a></li>
            <li><a href="https://github.com/jouwgithub">GitHub</a></li>
            <li><a href="https://twitter.com/jouwtwitter">Twitter</a></li>
        </ul>
    </div>
</footer>
