---
const base = import.meta.env.BASE_URL;
---

<footer>
  <div class="footer-info">
    <div class="contact">
      <p class="footer-text"><strong>Contact</strong></p>

      <p class="footer-text">
        <img
          src={`${base}images/mail.svg`}
          alt="Mail icoon"
          width="28"
          height="18"
        />
        lenie.debruyne@icloud.com
      </p>

      <p class="footer-text">
        <img
          src={`${base}images/Phone.svg`}
          alt="phone icoon"
          width="27"
          height="27"
        />
        +32 047 606 838
      </p>
    </div>
    <div class="connect">
      <p class="footer-text"><strong>Connect</strong></p>

      <p class="footer-text">
        <img
          src={`${base}images/LinkedIn.svg`}
          alt="LinkedIn icoon"
          width="28"
          height="25.2"
        />
        <a
          href="https://www.linkedin.com/in/lenie-debruyne-700594305/"
          target="_blank"
          class="footer-link">Lenie Debruyne</a
        >
      </p>

      <p class="footer-text">
        <img
          src={`${base}images/Behance.svg`}
          alt="Behance icoon"
          width="28"
          height="25.2"
        />
        <a
          href="https://www.behance.net/leniedebruyne"
          target="_blank"
          class="footer-link">Lenie Debruyne</a
        >
      </p>
    </div>
  </div>
  <p class="footer-banner">LET'S WORK TOGETHER</p>
</footer>
