---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Navigation />
<main>
    <h1>Welkom op mijn portfolio website!</h1>
    <p>Dit is mijn geweldige website!</p>
</main>
<Footer />
