---
const base = import.meta.env.BASE_URL;
---

<header class="top-bar">
  <a href="/Lenie_Debruyne_Portfolio/" class="badge-link">
    <img src={`${base}images/logo.svg`} alt="logo" class="logo" />
  </a>
  <nav>
    <ul>
      <a href={`${base}design`} class="badge-link">
        <li>Visual designer</li>
      </a>
      <a href={`${base}ux`} class="badge-link">
        <li>Experience designer</li>
      </a>
      <a href={`${base}design#animation`} class="badge-link">
        <li>Motion designer</li>
      </a>
    </ul>
  </nav>
</header>
