---
const base = import.meta.env.BASE_URL;
---

<header class="top-bar">
  <a href="/Lenie_Debruyne_Portfolio/" class="badge-link">
    <img src={`${base}images/logo.svg`} alt="logo" class="logo" />
  </a>

  <button class="hamburger-menu" aria-label="Toggle navigation">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <nav class="main-nav">
    <ul>
      <li><a href={`${base}design`} class="badge-link">Visual designer</a></li>
      <li><a href={`${base}ux`} class="badge-link">Experience designer</a></li>
      <li>
        <a href={`${base}design#animation`} class="badge-link"
          >Motion designer</a>
      </li>
    </ul>
  </nav>
</header>
