---

---

<header class="top-bar">
  <a href="/Lenie_Debruyne_Portfolio/" class="badge-link">
    <img src="./logo.svg" alt="logo" class="logo" />
  </a>
  <nav>
    <ul>
      <a href="design" class="badge-link">
        <li>Visual designer</li>
      </a>
      <li>Experience designer</li>
      <li>Motion design</li>
    </ul>
  </nav>
</header>

<a href="design" class="badge-link">
  <span class="badge visual">visual designer</span>
</a>
